<h2>Crear un nuevo producto</h2>

<form  class="form">
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="product.name"  class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Descripción:</label>
    <textarea id="description" name="description" [(ngModel)]="product.description"  class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" [(ngModel)]="product.price"  class="form-control">
  </div>
  <br>
  <button  (click)="createProduct()" class="btn btn-primary">Crear producto</button>
</form>
